$purple: #7c32bf;

@use "bulma/sass" with ( 
    $family-primary: '"Nunito", sans-serif', 
    $primary: $purple,
    $link: $purple,
    $dropdown-menu-min-width: 0px
);

 //Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");